[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-cpu = "*"
opencv-python = "*"
mediapipe = "*"
flask = "*"
flask-socketio = "*"
pyopenssl = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.7"
